code/*.o
code/test/test_polygonal_subdivision
code/lib/PersistentSkipList/
code/test/points.txt
code/test/segments.txt
code/test/test_linesegments
code/test/diff.txt
code/test/naive.txt
code/test/psl.txt
